@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
* {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0 !important;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

a {
  margin: 0;
  font-size: 0.9em;
  color: #29335C !important;
}

p, div {
  font-size: 0.9rem;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.tc-light {
  color: #969596;
}

.tc-blue {
  color: #2274A5;
}

.tc-blue-dark {
  color: #29335C;
}

/* ------------------ */
/*        BASE        */
/* ------------------ */
* {
  outline: none !important;
}

.main {
  margin-top: 30px;
}

/* ----------------- */
/*        NAV        */
/* ----------------- */
.nav-container {
  width: 100vw;
  background-color: #2274A5;
}
.nav-container .nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 6px;
  padding-bottom: 6px;
}
.nav-container .btnHome {
  margin-right: auto;
}
.nav-container .btnHome img {
  height: 15px;
}
.nav-container input {
  border: 1px solid transparent;
  border-radius: 20px;
  width: 240px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px 15px;
  transition: all 0.1s ease;
}
.nav-container input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
}
.nav-container input:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
.nav-container input:focus::placeholder {
  color: #000;
}
.nav-container .btnNav {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: transparent;
}
.nav-container .btnNav .btnNavInner {
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: filter 0.1s ease;
}
.nav-container .btnNav:hover .btnNavInner {
  -webkit-filter: brightness(0);
  filter: brightness(0);
}
.nav-container .link-container {
  position: relative;
  margin-left: 10px;
}
.nav-container .nav-dropdown {
  position: absolute;
  right: 50%;
  top: calc(100% + 6px);
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px 0px 5px 5px;
  padding: 10px 20px 10px 20px;
  display: none;
}
.nav-container .nav-dropdown:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0px;
  z-index: 10;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-left: 15px solid transparent;
}
.nav-container .nav-alert {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 13px;
  min-width: 13px;
  background-color: red;
  border-radius: 7px;
  z-index: 10;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
}

/* --------------------- */
/*        BUTTONS        */
/* --------------------- */
.btnMain {
  border-radius: 20px;
  font-size: 12px;
  transition: all 0.1s ease;
  padding: 2px 10px;
  margin-top: 3px;
}

.btnLarge {
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.1s ease;
  padding: 4px 15px;
  margin-top: 3px;
}

.btnBlue {
  border: 1px solid #2274A5;
  color: #fff;
  background-color: #2274A5;
}
.btnBlue:hover {
  background-color: #fff;
  color: #2274A5;
}

.btnBlueOutline {
  border: 1px solid #2274A5;
  color: #2274A5;
  background-color: transparent;
}
.btnBlueOutline:hover {
  background-color: #2274A5;
  color: #fff;
}

.btnRed {
  border: 1px solid #F66274;
  color: #fff;
  background-color: #F66274;
}
.btnRed:hover {
  background-color: #fff;
  color: #F66274;
}

.btnRedOutline {
  border: 1px solid #F66274;
  color: #F66274;
  background-color: transparent;
}
.btnRedOutline:hover {
  background-color: #F66274;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
