@import '../variables';

$userImgWidth: 48px;

.createPost {

    .grid {
        display: grid;
        grid-template-columns: $userImgWidth 1fr;
        grid-column-gap: 10px;
    }

    .userImg {
        width: $userImgWidth;
        height: $userImgWidth;
        border: 2px solid #fff;
        border-radius: $userImgWidth;
        // background-image: url('../assets/baddie.png');
        background-size: cover;
        background-position: 50% 50%;
        // position: absolute;
        // top: -25px;
        // left: 10px;
    }

    input {
        height: $userImgWidth;
        border: 1px solid transparent;
        background: $c-gray-light;
        border-radius: 5px;
        padding: 10px;
        transition: all 0.1s ease;

        &:focus {
            border-color: $c-blue-main;
            background-color: #fff;
        }
    }

    .btnMain {
        border: 1px solid $c-blue-main;
        border-radius: 20px;
        // color: $c-blue-main;
        color: #fff;
        font-size: 12px;
        transition: all 0.1s ease;
        padding: 2px 10px;
        margin-top: 3px;
        background-color: $c-blue-main;

        &:hover {
            // background-color: $c-blue-main;
            background-color: #fff;
            // color: #fff;
            color: $c-blue-main;
        }

    }
}