@import '../variables';

.side-border {
    // border-left: 1px solid $c-gray-medium !important;
    // background: pink;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        height: calc(100% - 60px);
        width: 1px;
        background: $c-gray-medium;
        top: 30px;
        bottom: 30px;
        left: -15px;
    }
}