@import '../variables';

.userCardSmall {
    width: 100%;


    .background {
        height: 90px;
        
        // background: pink;

        // background-image: url('../assets/cover.png');
        background-size: cover;
        background-position: 50% 50%;
        
    }

    $userImgWidth: 70px;

    .user {
        height: 70px;
        background-color: $c-gray-light;
        display: flex;
        
        
        .userImgWrapper {
            position: relative;
            // height: 100%;
            min-width: $userImgWidth;
            height: $userImgWidth;
            margin-left: 10px;
            // display: inline-block;
        }

        .userImg {
            width: $userImgWidth;
            height: $userImgWidth;
            border: 2px solid #fff;
            border-radius: $userImgWidth;
            background-image: url('../assets/baddie.png');
            background-size: cover;
            background-position: 50% 50%;
            position: absolute;
            top: -25px;
            // left: 10px;
        }

        .userInfo {
            * {
                margin: 0;
            }
            margin-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;

            p {
                color: $c-text-light;
                font-size: 0.9em;
            }
        }
    }
}
