@import '../variables';

body.login {
    height: 100vh;
    width: 100vw;

    .main {
        margin-top: 0;
        height: 100%;
        display: grid;
        grid-template-rows: min-content auto min-content;
    }

    .login-background {
        height: 100%;
        width: 100%;
        background-image: url('../../assets/login-background.png');
        background-size: cover;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
    }

    .login-container {
        background: #fff;
        border-radius: 5px;
        padding: 50px 100px 100px;
        margin-top: 10%;

        input {
            width: 100%;
            padding: 10px;
            height: 40px;
            border: 1px solid $c-blue-main;
            border-radius: 5px;
        }
    }

    .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .icon {
            background-position: 0% 50%;
            background-repeat: no-repeat;
            background-size: 20px;
            padding-left: 30px;

            &.icon-find {
                background-image: url('../../assets/icon-search.png');
            }

            &.icon-friends {
                background-image: url('../../assets/icon-friendRequests.png');
            }

            &.icon-message {
                background-image: url('../../assets/icon-messages.png');
            }
        }
    }
}

