@import '../variables';

.userCover {
    .background {
        height: 190px;        
        background-size: cover;
        background-position: 50% 50%;
    }
}

.profile-side {
    $userImgWidth: 180px;
    width: 100%;
    margin-top: -120px;

    .user {
        .userImgWrapper {
            margin-left: 20px;
        }

        .userImg {
            width: $userImgWidth;
            height: $userImgWidth;
            border: 2px solid #fff;
            border-radius: $userImgWidth;
            background-image: url('../assets/baddie.png');
            background-size: cover;
            background-position: 50% 50%;
            top: -25px;
        }

        .userInfo {
            * {
                margin: 0;
            }
        }
    }

}



$userImgWidth: 48px;

.createPost {

    .grid {
        display: grid;
        grid-template-columns: $userImgWidth 1fr;
        grid-column-gap: 10px;
    }

    .userImg {
        width: $userImgWidth;
        height: $userImgWidth;
        border: 2px solid #fff;
        border-radius: $userImgWidth;
        background-size: cover;
        background-position: 50% 50%;
    }

    input {
        height: $userImgWidth;
        border: 1px solid transparent;
        background: $c-gray-light;
        border-radius: 5px;
        padding: 10px;
        transition: all 0.1s ease;

        &:focus {
            border-color: $c-blue-main;
            background-color: #fff;
        }
    }

    .buttons {
        display: none;
    }
}


/* SINGLE POST */

.singlePost {

    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $c-gray-medium;
    
    p {
        margin: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: $userImgWidth 1fr;
        grid-column-gap: 10px;
    }

    .userImg {
        width: $userImgWidth;
        height: $userImgWidth;
        border: 2px solid #fff;
        border-radius: $userImgWidth;
        background-size: cover;
        background-position: 50% 50%;
    }

    .post-top {
        display: flex;
        margin-bottom: 5px;

        .dot {
            height: 4px;
            width: 4px;
            background: $c-text-light;
            border-radius: 4px;
            margin: 10px;
        }
        
    }

    .btnPost {
        border: none;
    }

    .btnLike {
        &:hover {
            svg g {
                stroke: $c-red;
            }
        }

        &.liked {
            svg g {
                stroke: $c-red;
                fill: $c-red;
            }
        }
    }

    .btnComment {
        &:hover {
            svg g {
                stroke: $c-blue-main;
            }
        }
    }

    .likesCount,
    .commentsCount {
        display: inline-block;
        width: 30px;
    }
}


/* COMMENTS */

.commentContainer {
    background-color: $c-blue-light;
    margin-left: 58px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    
    .comment {
        padding-bottom: 10px;
    }

    .txtComment {
        border: 1px solid $c-white;
        border-radius: 5px;
        padding: 10px;

        &:focus {
            border-color: $c-blue-main;
            background-color: #fff;
        }
    }

    .buttons {
        display: none;
    }
}